.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.photo {
    width: 500px;
    border: 1px solid #a60000;
    background-color: antiquewhite;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 10px;
    overflow: hidden;
    margin: 5px;
}

.photo img {
    width: 100%;
}

.photo p {
    font-size: 18px;
    color: #008b43;
}

.answer {
    color: rgb(13, 0, 201);
}

@media screen and (max-width: 500px) {
    .container {
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 10px;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    .mobile-center {
        order: -1;
    }
}